{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>登陆</title>
{% endblock %}
<!-- Main -->
{% block body %}
    <section id="main" class="container">
        <header>
            <h2>登陆</h2>
        </header>
        <div class="box">
            <form id="form1" name="form1" method="post" action="{{ url_for("web.login") }}">
                <label for="textfield">学号:</label>
                <input type="text" name="username" id="username" placeholder="学号" value="{{ form.username.data }}">
                <label for="password">密码:</label>
                <input type="password" name="password" id="password" placeholder="密码">
                <input type="submit" name="submit" id="submit" value="登陆">
                <a href="{{ url_for('web.sign_up') }}" class="button">注册</a>
                &nbsp;
            </form>

        </div>
    </section>
{% endblock %}