{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>重置密码</title>
{% endblock %}
<!-- Main -->
{% block body %}
    <section id="main" class="container">
        <header>
            <h2>重置密码</h2>
        </header>
        <div class="box">
            <form id="form1" name="form" method="post" action="{{ url_for('web.reset_password') }}">
                <label for="old_password">原密码:</label>
                <input type="password" name="old_password" id="old_password" placeholder="密码">
                <label for="password">新密码:</label>
                <input type="password" name="password" id="password" placeholder="密码">
                <label for="password_valid">再次输入密码:</label>
                <input type="password" name="password_valid" id="password_valid" placeholder="再次输入密码">
                <input type="button" name="confirm" id="confirm" value="提交" onclick="check_password()">
                &nbsp;
            </form>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src={{ url_for('web.static',filename="assets/js/passwd_check.js") }}></script>
{% endblock %}