{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>注册</title>
{% endblock %}
<!-- Main -->
{% block body %}
    <section id="main" class="container">
        <header>
            <h2>注册</h2>
        </header>
        <div class="box">
            <form id="form1" name="form" method="post" action="{{ url_for('web.sign_up') }}">
                <label for="username">学号:</label>
                <input type="text" name="username" id="username" placeholder="学号" value="{{ form.username.data }}">
                <label for="name">姓名:</label>
                <input type="text" name="name" id="name" placeholder="姓名" value="{{ form.name.data }}">
                <label for="team_id">组别:</label>
                <select name="team_id" id="team_id">
                    <option value="1">第一组</option>
                    <option value="2">第二组</option>
                    <option value="3">第三组</option>
                </select>
                <label for="password">密码:</label>
                <input type="password" name="password" id="password" placeholder="密码">
                <label for="password_valid">再次输入密码:</label>
                <input type="password" name="password_valid" id="password_valid" placeholder="再次输入密码">
                <input type="submit" name="submit" id="submit" value="提交">
                &nbsp;
            </form>
        </div>
    </section>
{% endblock %}